body {
    margin: 0;
    padding: 0;
    font-size: 30px;
}
#gameZone {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 1000px;
    margin: 2%;
    margin-top: 50px;
    margin-left: 20%;
    border: 3px solid black;
}
.grid-container, .tile-container {
    position: absolute;
    z-index: 1;
}
.grid-row {
     display: flex;
 }
.tile-container {
    z-index: 2;
}
.grid, .tile {
    width: 244px;
    height: 150px;
    display: inline-block;
    border: 3px solid black;
}
.tile {
    position: absolute;
}
#score, #res {
    text-align: center;
}
#res {
    margin-top: 650px;
}