.tile2 {
    background: yellow;
}

.tile4 {
    background: green;
}

.tile8 {
    background: blue;
}

.tile16 {
    background: purple;
}

.tile32 {
    background: aqua;
}

.tile64 {
    background: red;
}

.tile128 {
    background: sienna;
}

.tile256 {
    background: orangered;
}
.tile512 {
    background: lavender;
}
.tile1024 {
    background: brown;
}
.tile2048 {
    background: seagreen;
}
.tile4096 {
    background: pink;
}
.tile8192 {
    background: maroon;
}
.tile16384 {
    background: olive;
}
.tile32768 {
    background: violet;
}